<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Dev Match Community</h1>
      <p class="text-center">Welcome to the Dev Match community. Users must fill out a profile in order to be visible to the community.</p>
      <ul class="list-unstyled">
         <% @users.each do |u| %>
            <% if u.profile %>
               <li>
                  <div class="well row <%= cycle('white-bg', '') %>">
                     <div class="col-sm-4 text-center">
                        <% if u.profile.avatar %>
                           <%= link_to u do %>
                              <%= image_tag u.profile.avatar.url(:thumb), class: 'user-circle-avatar' %>
                           <% end %>
                        <% end %>
                        </div>
                        <div>
                           <%= link_to u do %>
                             <h2><%= u.profile.first_name + " " + u.profile.last_name  %></h2>
                           <% end %>
                             <p>
                                <%= u.profile.job_title %>
                                  <% if u.plan_id == 2%>
                                      <span class="label label-danger">Pro</span></p>
                                  <% end %>
                        </div>
                     
                  </div>
               </li>
            <% end %>
         <% end %>
      </ul>
   </div>
</div>