
<div class="jumbotron text-center">
    <h2>About Us</h2>
    <p>Welcome to Dev Match. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas.</p>
</div>