<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center">Reach out if you have any questions or comments.</p>
        <div class="well">
        
            <%= form_for @contact do |f| %>
            
                <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control' %>
                </div>
                    
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div> 
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>
                
                <%= f.submit 'Submit', class: 'btn btn-default' %>
                
            <% end %>
            
        </div>
    </div>
</div>